<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="databaseConnections" type="Framework.Remote.CxDbConnectionsSectionHandler, Framework.Remote"/>
  </configSections>
  <connectionStrings>
    <add name="hr_alphaConnectionString" connectionString="Data Source=LIFEBOOK\SQLEXPRESS;Initial Catalog=hr_alpha;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <databaseConnections>
    <entity connectionId="Default"/>
    <portal connectionId="Default"/>
    <report connectionId="Default"/>

  <!--<connection id="Default" provider="SqlClient" connectionString="Server=tcp:alpharecruiter-server.database.windows.net,1433;Database=alpharecruiter-db;User ID=AlphaRecruiterDB@alpharecruiter-server;Password=Vtnflfnf2015;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" setContextInfo="true" />-->

    <connection id="Default" provider="SqlClient" connectionString="Data Source=LIFEBOOK\SQLEXPRESS;Initial Catalog=hr_alpha; user=sluser; password=123" setContextInfo="true"/>
    <!--<connection id="Default" provider="SqlClient" connectionString="Data Source=LIFEBOOK\SQLEXPRESS;Initial Catalog=tracker; user=sluser; password=123" setContextInfo="true"/>-->
  </databaseConnections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="customizationEnabled" value="true"/>
    <add key="WebservicePingErrorUrl" value="http://fw10-w7/Tracker/ErrorPages/WebservicePingError.aspx"/>
    <add key="ShowExceptionDetails" value="true"/>
    <add key="SlPageTitle" value="Fulcrumweb. Issue Tracker Demo"/>
    <add key="SlAppTitle" value="FulcrumWeb Issue Tracker Demo"/>
    <add key="WebServiceTimeout" value="600000000"/>
    <!--milliseconds-->
    <add key="MaxUploadFileSize" value="2147483647"/>
    <!--bytes-->
    <add key="BaseAddressIndexToUse" value="0"/>
    <add key="UploadPacketSize" value="125000"/>
    <!--bytes-->
    <add key="ArchitectureDescriptionUrl" value="http://fulcrumweb.com/int/framework"/>
    <add key="SourceCodeUrl" value="http://fulcrumweb.com/int/framework/architecture-overview"/>
    <add key="SystemConfigurationPassword" value="1"/>
    <add key="localizationLanguageCode" value="EN"/>
    <add key="ShowFPS" value="false"/>
    <add key="ImageSmallThumbnailSize" value="64"/>
    <add key="ImageLargeThumbnailSize" value="64"/>
    <add key="DbClearInterval" value="60000"/>
    <!--86400000   24 hours-->
    <add key="SmtpMailServer" value="MEXICO"/>
    <add key="SlRequireSSL" value="false"/>
    <add key="ClientDateFormat" value="d.m.Y"/>
    <add key="ClientDateTimeFormat" value="d.m.Y H:i"/>
    <add key="ServerDateFormat" value="dd.MM.yyyy"/>
    <add key="ServerDateTimeFormat" value="dd.MM.yyyy HH:mm"/>
    <add key="DefaultRecordCountLimit" value="1000"/>
    <add key="DemoLoginRoleName" value="Demo"/>
    <!-- 
      Sets timeout for different application caches.
      If timeout = 0 or less than 0, cache is disabled.
      Application caches are:
        - Image cache (images cached on the file system).
        - URL map (site map) cache.
        - Menu Items cache.
        - Virtual metadata pages cache (pages created for menu items).
        - Product, EDirect code drop-downs, etc.
    -->
    <add key="applicationCacheTimeoutSeconds" value="1200"/>
    <!--
      Enables or disables entity data cache.
      If enabled, all SQL select data will be cached for entities which 
      are marked as 'cached' in entity or entity usage metadata.
    -->
    <add key="enableEntityDataCache" value="Yes"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<authentication mode="None" />-->
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="126000"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
   
  </system.web>
  <system.webServer>
    <!--<modules>
      <remove name="FormsAuthentication" />
    </modules>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>