
@{
    Layout = null;
}

<!--css file: HR/AdtSearchPanel.css-->

<script type="text/html" id="HR/AdtSearchTemplate">
    <div class="AdtSearch" id="%id%" >
        <input type="text" />
        <div id="AdtSearchWorkIndicator" class="WorkingLogout" ></div>
        <button><!--btn text--></button>
    </div>
</script>
